@model Biblio.Models.ClientFormViewModel
@{
    ViewBag.Title = "Add";
}


@if (Model.Client.Id != 0)
{
    <h1> Modifier Client</h1>
}
else
{
    <h1>
        Ajouter Client
    </h1>
}

@using (Html.BeginForm("Save", "Client", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(vm => vm.Client.Nom)
        @Html.TextBoxFor(vm => vm.Client.Nom, new { @class = "form-control" })
        @Html.ValidationMessageFor(vm=>vm.Client.Nom)
    </div>
    <div class="form-group">
        @Html.LabelFor(vm => vm.Client.PlanId)
        @Html.DropDownListFor(vm => vm.Client.PlanId, new SelectList(Model.Plans, "Id", "Nom"),"--plan--", new { @class = "form-control" })
        @Html.ValidationMessageFor(vm => vm.Client.PlanId)
    </div>
    @Html.HiddenFor(vm => vm.Client.Id)

    <button type="submit" class="btn btn-success">
        @if (Model.Client.Id != 0)
        {
            <text> Modifier</text>
        }
        else
        {
            <text> Ajouter</text>
        }
    </button>

}
